WORDPRESS_ARG_BASE_IMAGE=wordpress:6.9-php8.5-apache
WORDPRESS_ARG_PLUGIN_BBPRESS_ZIP_URL=https://downloads.wordpress.org/plugin/bbpress.2.6.14.zip
WORDPRESS_ARG_THEME_ZIP_URL=https://downloads.wordpress.org/theme/twentytwelve.4.7.zip

CLI_ARG_BASE_IMAGE=wordpress:cli

MYSQL_DATABASE=wp
MYSQL_USER=wp
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

WORDPRESS_DOMAIN=one.wordpress.test
WORDPRESS_SITE_TITLE="Test Site"
WORDPRESS_SITE_LOCALE=en_US
WORDPRESS_ADMIN_LOGIN=admin
WORDPRESS_ADMIN_PASSWORD=
WORDPRESS_ADMIN_EMAIL=admin@one.wordpress.test
